<div class="col-6">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" value="{{this.first_name}}" placeholder="First Name"
      name="first_name">
    <label for="floatingInput">First Name</label>
  </div>
</div>
<div class="col-6">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" value="{{this.last_name}}" placeholder="Last Name"
      name="last_name">
    <label for="floatingInput">Last Name</label>
  </div>
</div>
<div class="col-6">
  <div class="form-floating mb-3">
    <input type="email" class="form-control" id="floatingInput" value="{{this.email}}" placeholder="email@email.com"
      name="email">
    <label for="floatingInput">Email</label>
  </div>
</div>
<div class="col-6">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" value="{{this.phone}}" placeholder="Phone" name="phone">
    <label for="floatingInput">Phone</label>
  </div>
</div>
<div class="col-12">
  <div class="form-floating mb-3">
    <textarea class="form-control" placeholder="Leave a comment here" id="comments" name="comments"
      style="height: 200px">{{this.comments}}</textarea>
    <label for="comments">Comments</label>
  </div>
</div>
{{#if showFU}}
<div class="col6">
  <label for="sampleFile" class="form-label">File input</label>
  <input class="form-control" type="file" id="sampleFile" name="sampleFile">
</div>
{{/if}}
<div class="col-12 d-grid">
  <select class="js-data-example-ajax" id="manager" name="manager">
    <option value={{this.manager}}>{{this.manager}}</option>
  </select>
</div>  
<div class="col-12 d-grid">
  <button class="btn btn-primary" type="submit">Submit</button>
</div>

<script>
  $(document).ready(function () {
    $('.js-data-example-ajax').select2({
      ajax: {
        url: '/acmanagers',
        dataType: 'json'
        // Additional AJAX parameters go here; see the end of this chapter for the full code of this example
      }
    });
  });

</script>